* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.header_Section {
  display: flex;
}

.imagebox {
  height: 70px;
  width: 20%;
  background-color: rgb(205, 205, 216);
}
.headerbox {
  height: 70px;
  width: 80%;
  background-color: rgb(232, 222, 222);
}
.ul_section {
  display: flex;
  align-items: center;
  height: 70px;
  width: 50%;
  list-style-type: none;
  float: right;
  justify-content: space-between;
}
.sublist2 {
  display: none;
}

.ul_section li:hover .sublist2 {
  display: block;
}
.sublist2 {
  position: absolute;
  list-style-type: none;
}
.sublist2 li {
  background-color: blue;
  color: white;
  border-bottom: 1px solid white;
  padding: 10px;
  cursor: pointer;
}
.sublist2 li:hover {
  color: red;
}
.sublist3 {
  position: absolute;
  list-style-type: none;
  display: none;
  margin-left: 60px;
}
.sublist3 li {
  background-color: red;
  color: white;
  border-bottom: 1px solid white;
  padding: 10px;
}

.sublist2 li:hover .sublist3 {
  display: block;
}
.body-container {
  display: flex;
}
.sidebar {
  height: 180vh;
  width: 20%;
  background-color: rgb(43, 75, 103);
}
.card_container {
  height: 120vh;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  height: 300px;
  width: 200px;
  border: 1px solid lightgray;
  text-align: center;
  transition: all 0.5s;
  margin: 5px 0px;
}

.card img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}
.card:hover {
  box-shadow: 0px 0px 3px 1px lightgray;
  transform: scale(1.02);
}
.card .image_data {
  position: relative;
  margin-left: 20px !important;
}
